<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../css/styles.css">
    <title>Home - Hotel Management System</title>
</head>
<body>
    <section class="banner ">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img class="logo-img" src="../images/logo.png" style="max-width: 150px;" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ul-align">
                        <li class="nav-item">
                            <a class="nav-link hover-ani" href="../index.php">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-ani" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-ani" href="packages.php">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-ani" href="bookrooms.php">Book Rooms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-ani" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item btn-align">
                            <a class="nav-link hover-ani last-hover-ani btn btn-custom" href="login.php">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row justify-content-center align-items-center m-auto text-center abt">
                <div class="col-8 col-sm-8 col-md-6 col-lg-6">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- About Us -->
    <section class="about-us">
        <div class="container">
            <div class="row justify-content-center align-items-center m-auto">
                <div class="col-8 col-sm-6 col-md-5 col-lg-5">
                    <div class="about-img">
                        <!-- <img src="images/banner-1.jpg" alt=""> -->
                    </div>
                </div>
                <div class="col-8 col-sm-10 col-md-7 col-lg-7 about-content">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut porro aliquam blanditiis expedita hic ut, doloremque atque natus eius quidem corporis explicabo consequuntur quis dolor ullam, qui eligendi sint ipsam praesentium? Magnam voluptatem sint nemo unde numquam aliquid excepturi magni? Adipisci distinctio quae numquam laboriosam rerum accusamus? Illum, doloribus excepturi.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER MENU SECTION -->
    <section class="footer-menu" id="footermenu">
        <div class="container">
            <div class="row ">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 fmenu-items">
                    <h4>Usefull Links</h4>
                    <ul>
                        <li><a href="#packages">Our Packages</a></li>
                        <li><a href="#services">Our Services</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 fmenu-items">
                    <h4></h4>
                    <ul>
                        <li><a href="#map">Location</a></li>
                        <li><a href="#services">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>