body{
    font-family: 'Poppins',sans-serif;
}
.main-body{
    height: 100vh;
    background-image: linear-gradient( 109.6deg,  rgba(102,203,149,1) 11.2%, rgba(39,210,175,1) 98.7% );
    opacity: 0.7;
}
.row-height{
    height: 100vh;
}
.form-background{
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    vertical-align: middle;
    height: fit-content;
}
form{
    margin-top: 20px;
}
h1{
    font-family: 'Poppins',sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.btn-custom{
    width: 100%;
    background-image: radial-gradient( circle 939px at 94.7% 50%,  rgba(0,178,169,1) 0%, rgba(0,106,101,1) 76.9% );
    border: none;
    transition: 0.4s all ease-in-out;
    font-size: 18px;
    font-weight: 600;
    
}
.btn-custom:hover{
    background-image: radial-gradient( circle 788px at 0.7% 3.4%,  rgba(164,231,192,1) 0%, rgba(255,255,255,1) 90% );
    color: rgb(31, 31, 31);
}
.img-box{
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
    width: 100%;
    height: 100%;
}
.reg-area{
    padding-top: 25px;
    width: 100%;
}

/* Progress Bar Style */
.progress-bar{
    background-color: rgb(221, 221, 221);
    width: 400px;
    height: 20px;
}
