<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend><b>REGISTRATION</b></legend>
        <form action="../php/login_validation.php" method="POST">
            <br/>
            <h5>Id</h5>
            <input type="text" name="id">
            <h5>Password</h5>
            <input type="password" name="password">
            <hr/>
            <input type="submit" value="Submit" name="submit">
            <a href="../layouts/registration.html">Registration</a>
        </form>
    </fieldset>
</body>
</html>
